/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --light-red: 0, 100%, 67%;
  --orange-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;

  --background-gradient-start: hsl(252, 100%, 67%);
  --background-gradient-end: hsl(241, 81%, 54%);

  --circle-gradient-start: hsla(256, 72%, 46%, 1);
  --circle-gradient-end: hsla(241, 72%, 46%, 0);

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(221, 100%, 96%);
  --neutral-400: hsl(241, 100%, 89%);
  --neutral-500: hsla(224, 30%, 27%, 0.5);
  --neutral-800: hsl(224, 30%, 27%);

  font-size: 62.5%;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.8rem;
}

.section-score {
  background-image: linear-gradient(
    var(--background-gradient-start),
    var(--background-gradient-end)
  );

  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-400);
  padding: 2.2em;
  border-radius: 0px 0px 32px 32px;
  text-align: center;
}

.primary-text {
  color: var(--neutral-100);
}

.heading {
  font-size: 2rem;
}

p.primary-text {
  font-size: 2.4rem;
  font-weight: 700;
}

.section-score span {
  font-size: 5rem;
  font-weight: 700;
}

.circle {
  background-image: linear-gradient(
    var(--circle-gradient-start),
    var(--circle-gradient-end)
  );

  display: flex;
  flex-direction: column;
  width: 150px;
  aspect-ratio: 1;
  justify-content: center;

  border-radius: 100%;
}

.section-summary {
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-inline: auto;
}

.section-summary .heading {
  color: var(--neutral-800);
}

.summary-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
}

.summary-item:nth-child(1) {
  color: hsl(var(--light-red));
  background-color: hsla(var(--light-red), 0.05);
}

.summary-item:nth-child(2) {
  color: hsl(var(--orange-yellow));
  background-color: hsla(var(--orange-yellow), 0.05);
}

.summary-item:nth-child(3) {
  color: hsl(var(--green-teal));
  background-color: hsla(var(--green-teal), 0.05);
}

.summary-item:nth-child(4) {
  color: hsl(var(--cobalt-blue));
  background-color: hsla(var(--cobalt-blue), 0.05);
}

.summary-item > div {
  display: flex;
  gap: 8px;
}

.summary-item p {
  color: var(--neutral-500);
}

.summary-item span {
  font-weight: 700;
  color: var(--neutral-800);
}

.btn {
  border: none;
  border-radius: 32px;
  padding-block: 16px;
  color: var(--neutral-100);
  background-color: var(--neutral-800);
}
