/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  
  --light-red-trans: hsl(0, 100%, 67%, 0.1);
  --orange-yellow-trans: hsl(39, 100%, 56%, 0.1);
  --green-teal-trans: hsl(166, 100%, 37%, 0.1);
  --cobalt-blue-trans: hsl(234, 85%, 45%, 0.1);

  --background-gradient-start: hsl(252, 100%, 67%);
  --background-gradient-end: hsl(241, 81%, 54%);

  --circle-gradient-start: hsla(256, 72%, 46%, 1);
  --circle-gradient-end: hsla(241, 72%, 46%, 0);

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(221, 100%, 96%);
  --neutral-400: hsl(241, 100%, 89%);
  --neutral-800: hsl(224, 30%, 27%);

  font-size: 62.5%;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.8rem;
}

.section-score {
  background-image: linear-gradient(
    var(--background-gradient-start),
    var(--background-gradient-end)
  );

  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  color: var(--neutral-400);
  padding: 2.2em 4em;
  border-radius: 0px 0px 32px 32px;
  text-align: center;
}

.primary-text {
  color: var(--neutral-100);
}

.heading {
  font-size: 2rem;
}

p.primary-text {
  font-size: 2.4rem;
  font-weight: 700;
}

.section-score span {
  font-size: 5rem;
  font-weight: 700;
}

.circle {
  background-image: linear-gradient(
    var(--circle-gradient-start),
    var(--circle-gradient-end)
  );

  display: flex;
  flex-direction: column;
  width: 150px;
  aspect-ratio: 1;
  justify-content: center;

  border-radius: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 0px;
}

.section-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.section-summary li, .section-summary li div {
  display: flex;
  flex-direction: row;
}

.section-summary li div {
  gap: 0.5em;
}

.section-summary li span {
  font-weight: 700;
}

.section-summary li {
  gap: 8em;
  justify-content: space-between;
  border-radius: 10px;
  
  padding: 0.7em 1em 0.7em;
  font-size: 1.8rem;
}

.section-summary .heading {
  align-self: flex-start;
  margin-left: 1.3em;
}

.section-summary button {
  padding-left: 7.5em;
  padding-right: 7.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-top: 0.7em;
  color: white;
  background-color: var(--neutral-800);
  border-radius: 28px;
  border-color: transparent;
}

.section-reaction div{
  color: var(--light-red);
}

.section-memory div{
  color: var(--orange-yellow);
}

.section-verbal div{
  color: var(--green-teal);
}

.section-visual div{
  color: var(--cobalt-blue);
}




.section-reaction {
  background-color: var(--light-red-trans);
}

.section-memory {
  background-color: var(--orange-yellow-trans);
}

.section-verbal {
  background-color: var(--green-teal-trans);
}

.section-visual {
  background-color: var(--cobalt-blue-trans);
}